body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ANIMAÇÃO DO BACKGROUND BODY*/

.gradient {
    display: flex;
    background: linear-gradient(45deg, #BA3775, #E54576, #3E2E70, #EE5F71, #F58760, #FBCF31, #3E2E70);
    animation: colors 10s ease infinite;
    height: 100vh;
    width: 100vw;
    background-size: 500% 500%;
}


/* INÍCIO DO CORPO*/

h1 {
    color: #FFF;
    border: 1px solid #FFF;
    padding: 5px 100px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 2px 2px 6px #FFF;
    text-shadow: 1px 1px 2px #000;
}

input {
    background-color: transparent;
    color: #FFF;
    outline: 0;
    border-radius: 20px;
    border: 1px solid #FFF;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

input:hover {
    background-color: #3E2E70;
    color: #FFF;
    box-shadow: 2px 2px 6px #FFF;
}

textarea {
    padding: 5px 15px;
    outline: 0;
    color: #FFF;
    border: 2px solid #FFF;
    border-radius: 20px;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 2px 2px 6px #FFF;
}

textarea::placeholder {
    color: rgba(255, 255, 255, 0.555);
}

footer {
    color: #FFF;
    border: 1px solid #FFF;
    margin-top: 30px;
    border-radius: 30px;
    padding: 0px 20px;
    box-shadow: 2px 2px 6px #FFF;
}


/*CODIO DA ANIMAÇÃO*/

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}